<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>AwesomeCompany</title>
            <link rel="stylesheet" href="/css/base.css">
            <link rel="stylesheet" href="/css/formulario.css">
    </head>

    <body>
        <nav>
            <a href="/">AwesomeCompany</a>
            <div class="links">
                <a href="/register">Register</a>
                <a href="/database">Database</a>
            </div>
        </nav>
        <div class="container">
            {{{body}}}
        </div>
    </body>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
     <script src="/js/send.js"></script>
</html>
