<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>AwesomeCompany</title>
            <link rel="stylesheet" href="/css/base.css">
            <link rel="stylesheet" href="/css/formulario.css">
    </head>

    <body>
        <nav>
            <a href="prueba">AwesomeCompany</a>
            <div class="links">
                <a href="prueba">Register</a>
                <a href="prueba">Database</a>
            </div>
        </nav>
        <div class="container">
            {{{body}}}
        </div>
        <footer>
            <p class="footerP">©ASCY</p>
        </footer>
    </body>
</html>
