<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>AwesomeCompany</title>
            <link rel="stylesheet" href="/css/base.css">
            <link rel="stylesheet" href="/css/formulario.css">
    </head>

    <body>
        <nav>
            <a href="/">AwesomeCompany</a>
            <div class="links">
                <a href="/register">Register</a>
                <a href="/database">Database</a>
            </div>
        </nav>
        <div class="container">
            {{{body}}}
        </div>
    </body>
</html>
