<header>Register</header>

<form id="form" class="topBefore">
  <input id="name" type="text" placeholder="Full name">
  <input placeholder="Birth Date" class="textbox-n" type="text" onfocus="(this.type='date')" id="date">
  <input placeholder="Phone" type="tel"  name="phone">
  <input id="email" type="email" placeholder="Email">
  <input id="salary" type="number" placeholder="Salary">
  <select placeholder="asdad" id="cars" name="cars">
  <option value="" disabled selected>Select Maritial Status</option>
  <option value="single">Single</option>
  <option value="married">Married</option>
  <option value="divorced">Divorced</option>
</select>
  <input id="submit" type="submit" value="Send!">
</form>
